﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@Localizer["page.Home"]</h1>
    <h1 class="display-4">@Localizer["page.Welcome"]</h1>
</div>
